{% include base_path %}





<div class="grid-container">
    <div class="paper-title">{{post.title}}</div>
    <div class="paper-authors">{{post.authors}}</div>
    <div class="paper-journal">{{post.venue}}</div>
    <div class="menu-container">
      <div class="button-container">

        <!-- handling the abstract  -->
        <div class="button-container-abs">
            <button class="paper-button">
                <i class="fa fa-file-alt"></i>
            </button>
        </div>

        <!-- handling pdf  -->
        <div class="button-container-pdf">
            <button class="paper-button">
                <i class="fa fa-file-pdf"></i>
            </button>
        </div>
        
        
        <!-- handling external link -->
        <div class="button-container-bib" title="Biblopgraphy">
            <button class="paper-button copy-bib-button">
                    <!-- It seems the icon gets clicked not the button, so data-bibfile is assigned to the icon -->
                <i class="fa fa-book" data-bibfile="{{post.citation}}" data-post-url="{{post.url}}" ></i>
                <span class="bibTooltiptext" id="bibTooltip-{{post.url}}">Copy to clipboard</span>
            </button>
        </div>
        
        
        <!-- handling external link -->
        <div class="button-container-ext">
            <a class="linkLikeButton" title="External link" href="{{post.external_link}}">
                <i class="fa fa-external-link-square-alt"></i>
            </a>
        </div>

      </div>
    </div>
    <div class="paper-abstract">{{ post.content }}</div>
  </div>






